body{
    padding: 100px;
}
#title{
    background-color: brown;
    color: bisque;
    border-radius: 5px;
    padding: 15px;
}
.submit-area{
    display: block;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
    padding: 40px;
}

#transaction-area{
    display: none;

}

.status{
    margin: 0 50px;
    color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
}
.deposit{
    background-color: slateblue;
}

.withdraw{
    background-color: lightcoral;
}

.balance{
    background-color: orange;
}

.amount{
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 40px;
    margin-top: 50px;
    background-color: lightcyan;
}